body{
	background-color:  #fcffdc;
	font-family: tahoma, courier;
	font-size: 18px;
	text-align: left;
}
h1{
	font-family: Helvetica;
	color: #009933;
}

* {
  box-sizing: border-box;
}

 input[type="text"]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button[type="button"]{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  width: 100%;
}

button[type="button"]:hover{
  color: #1883ba;
  background-color: #ffffff;
}

table {
  border: 1px solid black;
  width: 60%;
 
}


 th, td {
  padding: 10px;
  text-align: left;

}


td {
  width:15%;

}


